<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File Upload</title>
</head>

<body>
    <h2>Single File Upload</h2>
    <form action="/profileUpload" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar" />
        <input type="submit" name="submit" value="Submit">
    </form>
    <h2>Multiple Upload</h2>
    <form action="/multiUpload" method="post" enctype="multipart/form-data">
        <input type="file" name="photo" />
        <input type="submit" name="submit" value="Submit">
    </form>
</body>

</html>